<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/layout/css/framework.css">
    <link rel="stylesheet" href="/layout/css/layout.css">
    <link rel="stylesheet" href="/layout/css/modalwindows.css">
    <link rel="stylesheet" href="/layout/fontawesome-4.5.0.min.css">

    <title>История</title>

</head>
<body id="top">
    
           <div class="wrapper row1">
        <header id="header" class="hoc clear">

          <!-- ЛОГО -->
          <div id="logo" class="fl_left">
            <h1><a href="/Index.html">SIN TYAO</a></h1>
          </div>

          <!-- Поиск -->
          <!-- <div id="search" class="fl_right">
            <form class="clear" method="post" action="#">
                <input type="search" value="" placeholder="Искать тут &hellip;">
                <button class="fa fa-search" type="submit" title="Поиск"></button>
            </form>
          </div> -->
          
        </header>
      </div>

      <!-- НАВИГАЦИЯ -->

      <div class="wrapper row2">
        <nav id="mainav" class="hoc clear"> 
          <ul class="clear">
            <li class="active"><a href="/Index.html">Главная</a></li>
            <li><a class="drop" href="#">Журнал</a>
              <ul>
                <li><a href="/layout/pages/gallery.html">Фотогалерея</a></li>
                <li><a href="/layout/pages/video.html">Видеогалерея</a></li>
                <!-- <li><a href="#">Разное 1</a></li>
                <li><a href="#">Разное 2</a></li>
                <li><a href="#">Разное 3</a></li> -->
              </ul>
            </li>
            <li><a class="drop" href="#">О нас</a>
              <ul>
                <li><a href="/layout/pages/history.html">История</a></li>
                <li><a href="/layout/pages/trainer.html">Тренерский состав</a>
                  <!-- <ul>
                    <li><a href="#">Тренер 1</a></li>
                    <li><a href="#">Тренер 2</a></li>
                    <li><a href="#">Тренер 3</a></li>
                  </ul> -->
                </li>
                <!-- <li><a href="#">Контакты</a></li> -->
              </ul>
            </li>
            <!-- <li><a class="drop" href="#">Услуги</a>
              <ul>
                <li><a href="#">Инд. тренировки</a></li>
                <li><a href="#">Груп. тренировки</a></li>
                <li><a href="#">Дополнительные услуги</a></li>
              </ul> -->
            <li><a href="/layout/pages/contact.html">Контакты</a></li>
            <li><a href="/layout/pages/answer.html">Вопрос/ответ</a></li>
            <!-- <li><a href="#">Текст 3</a></li>
            <li><a href="#">Текст 4</a></li> -->
          </ul>
        </nav>
      </div>

<!-- Контакты -->

<div class="wrapper row3">
  <main class="hoc container clear"> 
     <div class="tcontent"> 
      <div class="otstup">

        <div>
          <h1>О нас</h1>
          «Синтяо» — один из первых бойцовских клубов Беларуси, специализирующийся на восточных единоборствах. Все началось с карате-до и рукопашного боя еще в 1986 году. Сегодня клуб «Синтяо» является частью Белорусской федерации кикбоксинга и таиландского бокса и развивает современные направления единоборств. Клуб отличает и спортивно-оздоровительная направленность. Здесь занимаются подготовкой профессиональных спортсменов, а также помогают достичь общефизической формы с элементами тайского бокса. Сборная клуба «Синтяо» постоянно участвует в республиканских и международных спортивных соревнованиях по таиландскому боксу, кикбоксингу и панкратиону, в том числе детских.
          
          <h1>Направления</h1>
          
          Клуб «Синтяо» проводит занятия по следующим направлениям:
          
         <p>- таиландский бокс;</p> 
          
          <p> - кикбоксинг;</p>
          
        <p>- К1;</p>  
          
         <p>- панкратионбои без правил);</p> 
          
         <p>- бокс;</p> 
          
         <p>- ушу-Саньда;</p> 
          
        <p>- оздоровительная гимнастика.</p>  
          
          <h1>Команда</h1>
          
          В клубе «Синтяо» работают профессиональные тренеры с личными достижениями и большим опытом преподавательской работы:
         <p>- Дмитрий Хотин — детский тренер по таиландскому боксу;</p> 
         <p>- Игорь Городилов — тренер высшей категории;</p> 
         <p>- Александр Ковтник — тренер высшей категории, мастер спорта международного класса;</p> 
         <p>- Николай Парфенович — мастер спорта СССР;</p> 
         <p>- Юрий Сацук — мастер спорта, чемпион мира по кикбоксингу;</p> 
         <p>- Игорь Бугаенко — мастер спорта по кикбоксингу.</p> 
          
          <h1>Особенности занятий</h1>
          
          Заниматься в клубе «Синтяо» могут как детис 6 лет) и подростки, так и взрослые с любым уровнем подготовки. Занятия проходят в небольших группах, также возможна работа с тренером в индивидуальной форме с разработкой персональной программы. Залы клуба оснащены всем необходимым оборудованием, обустроены удобные раздевалки и душевые, есть тренажерный зал и бесплатная парковка.
          
          «Синтяо» — путь сильных духом.
          
         <p>- таиландский бокс;</p> 
         <p>- кикбоксинг;</p>  
         <p>- К1;</p>  
         <p>- панкратионбои без правил);</p> 
         <p>- бокс.</p> 
         <p>- Ушу-Саньда;</p> 
         <p>- Оздоровительная гимнастика.</p> 

        </div>

          </div>
            </div>
              </main>
                </div>

<!-- Подвал -->

<div class="footer">
   
  <!-- ################################################################################################ -->
  <p>2022 - Спортивный клуб "SIN TYAO"</p>
  <p>Дзюба АВ</p>
  <!-- ################################################################################################ -->

</div>

</body>
</html>